body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: x-large;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #0c0b0b;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-top: 0;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .button {
    display: inline-block;
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    flex-basis: 30%;
    margin-right: 3%;
    margin-bottom: 30px;
  }
  
  .product img {
    max-width: 100%;
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  .product p {
    font-weight: bold;
    color: #f00;
  }
  
  footer {
    background-color: #f8f8f8;
    color}